/* header-region */

.upper_header{
    height: 5vh;
    background-color: grey;

}

.navbar{
    height: 10vh;
    background-color: aqua;
}

/* end-header-region */

.call_to_action{
    height: 80vh ;
    background-color: blueviolet;
}

.here_ps5{
    height: 80vh;
    background-color: blue;

}

.discover_ps4{
    height: 40vh;
    background-color: aquamarine;
}

.online_service{
    height: 40vh;
    background-color: grey;
}

.store_discount{
    height: 50vh;
    background-color: aqua;
    
}

/* utilities */
.h-100{
    height: 100%;
}

.debug-col{
    
    border: 1px dashed black;
}

/* end-utilities */