/* header-region */

.upper_header{
    background-color: black;
}
    


#sony-logo{
    width: 10%;
    padding: 1rem;

}

.navbar{
    height: 10vh;
    background-color: aqua;
}

/* end-header-region */

/* Jumbo-region */

.call_to_action{
    height: 80vh;
    background-image: url('./img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    
}

#returnal_logo{
    width: 50%;

}

/* End jumbo region */


/* ecco ps5-region */
#no-limits{
    color: #1D82D3;
}

.jump-in{
    color: #727272;
}

#sperimenta{
    color:  #787878;
}
/* ecco ps5 end-region */
 
/* ITTAKES2 */
.call_to_action_2{
    height: 80vh;   /* prova a diminuirla dopo */
    background-image: url('./img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    color:white

}

#ittakes2-logo{
    width: 50%;
}

.cta_imgs_2{
    background-color: #1F1F1F;
    color:white;

}

/* ITTAKES2 END-REGION */

/* online service-region */
.online_service{
    
    background-color: #BEBCBB;
}

.adv-img{
    width: 80%;
}

.os_logo{
    width: 50%;
}
/* online_service-end-region */

.online_service_2{
    background-color: #161C3B;
    color: white;
}




.follow_us{
    height: 40vh;
}

#site_footer{
    height: 50vh;
    background-color: lightskyblue;
}
    

/* utilities */
.h-100{
    height: 100%;
}

.debug-col{
    
    border: 1px dashed black;
}

/* end-utilities */



